<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About page</title>
</head>
<body>
  <%- include("partials/header.ejs") %>


  <h1>Benefits Of Ayurveda For Skin-Care</h1>
<p>
 
Inspiring women to look and feel fantastic no matter age or what challenges they face. With luxury, natural skincare and cosmetics, inspirational lifestyle advice and real people not models as the face of our company. While raising money to help beat breast cancer too.


Warm a very small amount between your fingertips to warm and activate the botanical oils. THE CREAM is velvety-rich and a little goes a long way!

  Gently massage and press onto face and neck in upwards strokes.
  
  Denice's Tips
  You may notice a blush of color and a slight tingle as it revs up the skin’s natural blood flow.
  You can wear it during the day with foundation as a primer for a flawless finish or overnight for a super-hydrating repair treatment.
  Massage any remaining CREAM onto the back of your hands and elbows (safe for eyelids and lips too!).
  If it feels too thick, you’re probably using too much!
  </p>
  <%- include("partials/footer.ejs") %>


</body>
</html>
