
<%- include("partials/header.ejs") %>


  <h1>Be Fearless in the Sun With</h1>
   <h2>AYURVEDA</h2>

  <p>Ayurveda is an ancient, natural, and whole-body system of medicine that began in India more than 3,000 years ago. Ayurvedic medicine is still practiced in India today. 

    The term Ayurveda means "knowledge of life," so Ayurvedic practice is used to restore life and balance. The system is based on the idea that there are 5 elements that make up 3 key doshas, or life forces of the body. Each person has a dominant dosha that shapes their physical constitution and personality.
    
    Disease occurs when there’s an imbalance in the doshas. This imbalance is caused by lifestyle, diet, stress, exercise, and pollution, which affect the body’s activities and lead to disease. 
    
    Ayurveda treatments include purification, herbal remedies,
  </p>
  <p>
    Ayurveda offers the perspective that while all skin conditions can seem superficial in nature, the skin is actually a reflection of hidden realities within each of our bodies. Skin conditions are rarely caused by an issue on the surface of the skin; they are far more likely to be the result of a deeper imbalance—making it somewhat ineffective to treat the symptom alone.

Instead, we must also delve deeper, beneath the surface of the skin. This is why Ayurvedic skin care aims to identify and treat the underlying cause of skin imbalances—an approach that can take a little time, but that tends to offer real and sustained results.

The best part is, the improvements you’ll notice on the surface of your skin are usually the result of a more significant transformation—one that will improve your life in ways that you never imagined skin care could.</p>

  <%- include("partials/footer.ejs") %>